@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition-duration: 0.2s;        
}
body {
    font-family: 'DM Sans', sans-serif; 
}

span {
    position:relative;
    opacity: 1;
    overflow: hidden;
    z-index: 0;
}

span:before {
    animation: slideInFromLeft 0.5s cubic-bezier(.75,0,.2,1);

    content:"";

    position:absolute;
    top:0.075em;
    z-index:-2;

    left: -0.1em;
    width: calc(100% + 0.2em);

    border-width:0.56em;
    border-style:solid;
    border-radius: 2px;
    
    transition-duration: .2s;
}

span:before {
    transform: skew(-4deg);
}

span.highlight.green:before {
    border-color: theme('colors.green.500');
}

span.highlight.green.elevated:before {
    border-color: theme('colors.green.900') !important;
}

span.highlight.red:before {
    border-color: theme('colors.red.500');
}

span.highlight.red.elevated:before {
    border-color: theme('colors.red.900') !important;
}

a {
    text-decoration: underline;
}
